/* Задание 1 */

/* #elem {
    width: 200px;
    height: 200px;
    background-color: lightblue;
} */

/* Задание 2  */

#elem {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    transition: all 0.3s ease;
}